<h1>Individual transactions</h1>

<table class="indiv">
  <tr>
    <th>Amount: </th>
    <td><%='%.2f'% @transaction.amount %></td>
  </tr>
  <tr>
    <th>Description: </th>
    <td><%=@transaction.description %></td>
  </tr>
  <tr>
    <th>Tag: </th>
    <td><%=@transaction.tag.name %></td>
  </tr>
  <tr>
    <th>Merchant: </th>
    <td><%=@transaction.merchant.name %></td>
  </tr>
</table>


<p><a href="/transaction/<%=@transaction.id %>/edit">Edit transaction</a></p>

<form action="/transaction/<%= @transaction.id %>/delete" method="post">
  <input type="submit" value="Delete transaction">
</form>
<hr />