<h1>All transactions</h1>

<% for transaction in @transactions %>
<p>Amount: <a href="/transaction/<%=transaction.id%>">£ <%= transaction.amount %></a></p>
<p>Description: <%= transaction.description %></a></p>
<p>Tag: <%= transaction.tag_id %></p>
<p>Merchant: <%= transaction.merchant_id %></p>
<hr/>
<% end %>
